    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
  <script src="js/handlebars.js"></script>
  <script src="js/SPA/Dropzilla.js"></script>
  <div id="moduleScripts">
    <script src="js/SPA/Modules/Main/main.js"></script>
  </div>
  <div id="externalScripts"></div>
  </body>
</html>